:root{
    --primclr: plum
}
#root{
    background-image: linear-gradient(white, var(--primclr));
    width: 100vw;
}

#root div{
    align-content   : center;

}
.card{
    padding-left: 1vw;
    margin-top: 1rem;
}
.leftPane{
    
}
.rightPane{
    
}   