:root{
    --primclr: plum
}
.bgImg{
    background: var(--primclr);
    width: 100vw;
    height: 100%;
    position: fixed;
    z-index: -1;
}

div{
      border-color: dimgrey;
      border: 2px;
}

.app-topic-head{
    width: fit-content;
    background-image: linear-gradient(to right,var(--primclr-shadow),white);}
.card-header{
    background: var(--primclr-light);
}
.card-vspace{
    margin-top: 3px;
    margin-bottom: 3px;
}
.app-table-row-border tr {
    border-bottom: black solid 1px;
}
.card th{
    vertical-align: text-top    ;
}
.active-tab{
	background: var(--primclr);
}
.nav-headers{
	position: sticky;
	top: 0;
	padding: 10px 16px;
	z-index:1;
	background: white;
}
.org-time{
border: dotted grey;
	border-width: 2px 0;
}
